@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/assets/img/logo-white.png"
                     class="logo logo-display"
                     alt=""><img src="~/assets/img/logo-white.png" class="logo logo-scrolled" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Merhaba @User.Identity?.Name!</a></li>
                    
                    <li class="left-br">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="signin" class="fa fa-pencil" aria-hidden="true">Çıkış Yap</button>
                        </form>
                    </li>
                   
                }
                else
                {
                    <li><a asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a></li>
                    <li class="left-br">
                        <a asp-area="Identity" asp-page="/Account/Login" class="signin">Giriş Yap</a>
                    </li>
                
                }
                
            </ul>
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                
                <li>
                    <a asp-controller="Home" asp-action="Create" class="dropdown-toggle">Özgeçmiş Oluştur</a>

                </li>
                <li> <a asp-controller="Home" asp-action="Getlist" class="dropdown-toggle">Aday Bul</a>
            </ul>
        </div>
    </div>
</nav>